name: Release github action

on:
  pull_request:
    types:
      - closed
  workflow_dispatch: # Allow manual triggers

permissions:
  contents: write

jobs:
  release-github-action:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Release create tag github action
        uses: ./  # This uses the local action defined in the repository
